<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="room-page">
    <div class="container">
        <h1>Joined Room: {{ room_id }}</h1>
        <canvas id="audio-visualizer"></canvas>
        <div id="chat-box"></div>
    </div>

    <script>
        const roomId = "{{ room_id }}";
    </script>
    <button id="join">Join Audio Stream</button>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/join_script.js') }}"></script>
</body>
</html>